<!-- <ng-template #loginPage>

</ng-template> -->
<!-- <div class="container" *ngIf="isLogged; else loginPage"> -->
<div class="container">
  <app-logo></app-logo>
  <app-add-new-task></app-add-new-task>
  <app-task-list></app-task-list>
  <app-footer></app-footer>
  <app-modal></app-modal>
</div>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<!-- Your Chat Plugin code -->
<div
  class="fb-customerchat"
  attribution="setup_tool"
  page_id="102352718268208"
  theme_color="#0084ff"
  logged_in_greeting="Witam, w czym mogę pomóc?"
  logged_out_greeting="Witam, w czym mogę pomóc?"
></div>
