<footer class="page-footer mt-10">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Aplikacja lista zadań</h5>
        <p class="grey-text text-lighten-4">
          Została napisana w celach edukacyjnych
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul class="about">
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">Tel: 754-424-145</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">makapaka@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">© 2020 Krzysztof Śmiertka</div>
  </div>
</footer>
<button class="btn col s2 offset-s10 mt-10" (click)="logOut()">Wyloguj</button>
